<!--@.@_____________Khong them duoc User vi no khong the binding duoc nhieu lop _________________@.@-->

<!-- <h1> Thoong tin user</h1>
<p>Binding user ID:{{user.idUser}}</p> 
<p>Binding name user: {{user.nameUser}}</p>
<p>Binding password user: {{user.passUser}}</p>

<div><span>id: </span>{{user.nameUser}}</div>
<div>
    <label>User name: <input [(ngModel)]="user.nameUser" placeholder="Type name is ..."></label>
</div>
<div>
    Password:<input [(ngModel="user.passUser")] placeholder="Type pass is ...">
</div> -->
